a[target="_blank"]::after {
  content: ""
    url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20class='i-external'%20viewBox='0%200%2032%2032'%20width='14'%20height='14'%20fill='none'%20stroke='%23ff9800'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='9.38%'%3E%3Cpath%20d='M14%209%20L3%209%203%2029%2023%2029%2023%2018%20M18%204%20L28%204%2028%2014%20M28%204%20L14%2018'/%3E%3C/svg%3E");
}

a[target="_blank"][href*="youtu"]::before {
  content: '';
  display: inline-block;
  background-image: url('/photos/youtube-icon.svg');
  background-size: cover; /* Ensure the image fits within the given dimensions */
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

a[target="_blank"][data-type="article"]::before {
  content: '';
  display: inline-block;
  background-image: url('/photos/article.svg');
  background-size: cover; /* Ensure the image fits within the given dimensions */
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

figure {
  display: flex;
  position: relative;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    display: inherit;  // Ensure the image behaves like a block element
  }

  &.left,
  img {
    margin-right: auto;
  }

  &.center,
  img {
    margin-left: auto;
    margin-right: auto;
  }

  &.right,
  img {
    margin-left: auto;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(46, 46, 46, 0.7);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  &:hover figcaption {
    opacity: 1;
  }
}
