<footer>
  <div style="display:flex">
    {% for social in config.extra.social %}
    <div class="right-border">
        <a class="soc no-icon" href={{ social.url }} target="_blank" title={{ social.name }}>
            <i data-feather={{ social.icon }}></i>
        </a>
</div>
    {% endfor %}
  </div>
  <div class="footer-info">
    {{ now() | date(format="%Y") }} © {{ config.extra.copyright }} | <a
      href="https://github.com/XXXMrG/archie-zola" target="_blank" class="no-icon">Archie-Zola Theme</a>
  </div>
</footer>

{% if config.extra.social %}
<script>
    feather.replace();
</script>
{% endif %}
